@using TicketMuffin.Core.Domain
@using TicketMuffin.Web.Code
@model Charity

<div class="eventBoxTop">@Html.Content("Fundraising for") @Model.Name</div>
<div class="eventBoxBottom">
@Html.Content("If you wish to support this charity directly you can") <a target="_blank" href="http://www.justgiving.com/donation/direct/charity/@Model.DonationGatewayCharityId?exitUrl=@Url.Encode(Request.Url.AbsoluteUri)">@Html.Content("donate directly")</a><br/>
(@Html.Content("via") @Model.DonationGatewayName)
</div>