@model TicketMuffin.Web.Areas.Admin.Controllers.AttendeesViewModel

@{
    ViewBag.Title = "Attendees";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Event.Title, pledge by @Model.Pledge.AccountEmailAddress Attendees</h2>

@Html.ActionLink("Send tickets", "SendTickets", "Pledge", new {id=Model.Pledge.OrderNumber}, null)

    <ul>
@{
    
    foreach(var attendee in Model.Pledge.Attendees)
    {
        <li>
        @attendee.FullName 

        @if (!string.IsNullOrWhiteSpace(attendee.TicketNumber))
        {
            <a href="/ticket/@attendee.TicketNumber">Ticket</a>
        } else
        {
            @Html.ActionLink("Create Ticket", "CreateTickets", "Pledge", new {id=Model.Pledge.OrderNumber},null)
        }
        </li>
    }
    
}
</ul>