@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("SIGN OUT", "SignOut", "Account") ]</text>
}
else {
    @:[ <a href="#" id="showSignIn">SIGN IN</a> ]
    @:[ @Html.ActionLink("SIGN UP", "signup-or-signin", "Account") ]

    <div id="signInForm" style="display:none;">
        <form id="signin" action="@Url.Action("SignIn", "Account")">
            <label for="emailaddress">Username: </label><input type="text" name="emailaddress" /><br />
            <label for="password">Password: </label><input type="password" name="password" /><br />
            <input type="hidden" name="returnurl" value="@(Request.QueryString["returnUrl"] ?? Request.Url.PathAndQuery)" />
            <span id="invalidCredentials" class="field-validation-error" style="display:none;">We couldn't find an account matching those credentials</span>
            <a href="#" class="hide">cancel</a>
            <input type="submit" value="Sign In" />
        </form>
        
    </div>
    
}
