@using GroupGiving.Core.Domain
@using GroupGiving.Web.Models
@model EventViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<p>Status: @Model.State</p>
<p>@(Model.State == EventState.Activated ? "The event is officially on" : "The event isn't 'On' yet")</p>
<p>
    Event has @Model.PaidAttendeeCount attendees, 
    @if (Model.AttendeeCount >= Model.MinimumParticipants)
{
    <text>and has reached the minimum @Model.MinimumParticipants</text>
} else
{
    <text>and has not reached the minimum @Model.MinimumParticipants</text>
}

</p>
<ul>
    <li>@Html.ActionLink("Edit event details", "EditEventDetails", new {id=Model.Id.Substring(Model.Id.IndexOf('/'))})</li>
    <li>@Html.ActionLink("View and refund pledges", "ViewPledges", new { id = Model.Id.Substring(Model.Id.IndexOf('/')) })</li>
    @if (Model.ReadyToActivate)
    {
        <li>@Html.ActionLink("Activate event (send funds to secondary receivers)", "Activate", new { id = Model.Id.Substring(Model.Id.IndexOf('/')) })</li>
    }
</ul>

@{ Html.RenderPartial("EventList", Model); }