@model GroupGiving.Web.Models.SignInModel
@{
    ViewBag.Title = "Sign In";
}

@section scripts
{
<script type="text/javascript" src="/Scripts/signin.js"></script>
}

<a href="/" style="display: block; position: absolute; right:0px;">Connect using Facebook <img src="/content/img/fbconnect_big.jpg" /></a>   

<div id="signUp" style="padding-top: 30px; position: relative;">
@using (Html.BeginForm("signup", "account"))
{
        <h1>Sign up or @Html.ActionLink("Sign In", "SignIn", "Account", null, new {id="signInLink"})</h1>
        <div class="grayBox">
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Ticket type</label>
            @Html.DropDownList("AccountType", Model.AccountTypes)
            @Html.ValidationMessage("AccountType")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">First name</label>
            @Html.TextBox("FirstName")
            @Html.ValidationMessage("FirstName")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Last name</label>
            @Html.TextBox("lastname")
            @Html.ValidationMessage("lastname")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">E-mail address</label>
            @Html.TextBox("email")
            @Html.ValidationMessage("email")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Password</label>
            @Html.Password("newpassword")
            @Html.ValidationMessage("newpassword")

          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Confirm password</label>
            @Html.Password("confirmPassword")
            @Html.ValidationMessage("confirmPassword")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Address line</label>
            @Html.TextBox("addressLine")
            @Html.ValidationMessage("addressLine")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Town / city</label>
            @Html.TextBox("Town")
            @Html.ValidationMessage("Town")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Post code</label>
            @Html.TextBox("postCode", "", new { @class = "postcode" })
            @Html.ValidationMessage("postCode")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;">Country</label>
            @Html.DropDownList("country", Model.Countries)
            @Html.ValidationMessage("country")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;"></label>
            @Html.CheckBox("AgreeToTermsAndConditions")
            @Html.Label("AgreeToTermsAndConditions", "I agree to the terms and conditions")
            @Html.ValidationMessage("AgreeToTermsAndConditions")
          </div>
          <div style="padding-bottom: 10px;">
            <label style="display: inline-block; width: 200px;"></label>
            @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
            <input type="submit" style="font-size: 20px; font-weight: bold; padding: 7px 50px;" value="Sign up" />
          </div>
        </div>       
}
</div>

<div class="clearfix" />
