@using GroupGiving.Web.Models
@model SignInModel

@{
    ViewBag.Title = "Log On";
}

<a href="/" style="display: block; position: absolute; right:0px;">Connect using Facebook <img src="/content/img/fbconnect_big.jpg" /></a>   

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

<div id="signIn" style="padding-top: 30px; position: relative;">
@using (Html.BeginForm("signin", "account"))
{
        <h1>Sign in or @Html.ActionLink("Sign Up", "signup", "Account", null, new { id = "signUpLink" })</h1>
        <div class="grayBox">
            <div style="padding-bottom: 10px;">
                <label style="display: inline-block; width: 200px;">Email</label>
                @Html.TextBoxFor(m=>m.EmailAddress)
                @Html.ValidationMessage("emailaddress")
            </div>
            <div style="padding-bottom: 10px;">
                <label style="display: inline-block; width: 200px;">Password</label>
                @Html.PasswordFor(m=>m.Password)
                @Html.ValidationMessage("password")
            </div>
            <div style="padding-bottom: 10px;">
                @Html.CheckBoxFor(m=>m.RememberMe)
                @Html.Label("rememberMe", "Remember me")
            </div>
                @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
            <div style="padding-bottom: 10px;">
                <input type="submit" value="Sign In" />
            </div>
        </div>
}
</div>
