@model GroupGiving.Core.Services.SetTicketDetailsRequest

@{
    ViewBag.Title = "tickets";
}

<h2>Enter ticket details</h2>

@section scripts {
    <script src="/Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    <script src="/Scripts/tickets.js" type="text/javascript"></script>
}

<div>
@using (Html.BeginForm())
{
    <div class="graybox">
        <div class="formline">
            @Html.LabelFor(m => m.TicketPrice)
            @Html.TextBoxFor(m => m.TicketPrice, new { @class = "short" })
            @Html.ValidationMessageFor(m => m.TicketPrice)
        </div>

        <div class="formline">
            @Html.LabelFor(m => m.MinimumParticipants)
            @Html.TextBoxFor(m => m.MinimumParticipants, new { @class = "short" })
            @Html.ValidationMessageFor(m => m.MinimumParticipants)
        </div>

        <div class="formline">
            @Html.LabelFor(m => m.MaximumParticipants)
            @Html.TextBoxFor(m => m.MaximumParticipants, new { @class = "short" })
            @Html.ValidationMessageFor(m => m.MaximumParticipants)
        </div>

        <div class="formline">
            @Html.LabelFor(m => m.PaypalAccountEmailAddress)
            @Html.TextBoxFor(m => m.PaypalAccountEmailAddress)
            @Html.ValidationMessageFor(m => m.PaypalAccountEmailAddress)
        </div>

        <div class="formline">
            <label>Sales end</label>
            @Html.TextBox("salesEndDate", Model.SalesEndDateTime.ToShortDateString())
            @Html.DropDownList("salesEndTime", Model.SalesEndTimeOptions, new { style = "width:120px" })
            @Html.ValidationMessageFor(m => m.SalesEndDateTime)
        </div>

        <div class="formvalidation">
            <label style="display: inline-block; width: 200px;"></label>
            <input type="submit" value="Finish" style="font-size: 20px; font-weight: bold; padding: 7px 50px;" />
        </div>
    </div>
}
</div>
