@model GroupGiving.Web.Areas.Admin.Controllers.ContentTranslationViewModel

@{
    ViewBag.Title = "Translate Content";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Translate Content @Model.Content.Label</h2>

@Html.ActionLink("< Back to page", "ViewPageContent", new { id = Model.Page.Id.Substring(Model.Page.Id.IndexOf('/') + 1) })

@using (Html.BeginForm("AddTranslation", "Content"))
{
    <text>
        Culture: @Html.DropDownList("cultureKey", new SelectList(new[]{"en","pl"}))<br/>
        Content: @Html.TextArea("content", "", 5, 40, null)<br/>
        @Html.Hidden("pageId", Model.Page.Id.Substring(Model.Page.Id.IndexOf('/') + 1))
        @Html.Hidden("contentLabel", Model.Content.Label)
        <input type="submit" value="Add Translation"/>
    </text>
}

@using (Html.BeginForm("UpdateTranslations", "Content"))
{
    foreach (var cultureKey in Model.Content.ContentByCulture.Keys)
    {
        <h3>@cultureKey</h3>
        @Html.TextArea(cultureKey, Model.Content.ContentByCulture[cultureKey])
    }
    @Html.Hidden("pageId", Model.Page.Id.Substring(Model.Page.Id.IndexOf('/') + 1))
    @Html.Hidden("contentLabel", Model.Content.Label)
    <p><input type="submit" value="Update Translations"/></p>
}