@using GroupGiving.Core.Domain
@model SiteConfiguration

@{
    ViewBag.Title = "Site Configuration - TicketMuffin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Site Configuration</h2>

@Html.ActionLink("Back to dashboard", "Index", "dashboard")

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <fieldset>
        <legend>General</legend>
        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Adaptive Accounts</legend>
        @Html.EditorFor(m => m.AdaptiveAccountsConfiguration)
    </fieldset>
    <fieldset>
        <legend>Database</legend>
        @Html.EditorFor(m => m.DatabaseConfiguration)
    </fieldset>
    <fieldset>
        <legend>JustGiving Api</legend>
        @Html.EditorFor(m => m.JustGivingApiConfiguration)
    </fieldset>
    <fieldset>
        <legend>PayFlowPro Configuration</legend>
        @Html.EditorFor(m => m.PayFlowProConfiguration)
    </fieldset>

    <input type="submit" value="Save Changes"/>
}