@using GroupGiving.Web.Code
@using GroupGiving.Web.Models
@model ShareEventViewModel

@{
    ViewBag.Title = "Share your event";
}

@section scripts
{
<script type="text/javascript" src="/scripts/share.js"></script>
}

@section infobox
{
    <div class="infobox">
        <div class="infobox_inner">
            <span>
            @if (Model.EmailSentSuccessfully.HasValue && Model.EmailSentSuccessfully.Value == true)
            {
                <p>@Html.Content("The email was sent successfully")</p>
            }
            </span>
            <a href="#" class="close">@Html.Content("hide this message")</a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.infobox').hide();
            $('.infobox a.close').click(function () { $('.infobox').slideUp(); });
    @if (Model.EmailSentSuccessfully.HasValue)
    {
            <text>$('.infobox').slideDown();</text>
    }
        });
    </script>
}

<h2>@Html.Content("Tell your friends about") <a href="@Model.ShareUrl"><span id="event-title">@Model.Event.Title</span></a></h2>
<span id="facebook-publish-link" style="display:none;">@Model.ShareUrl</span>
<span id="facebook-publish-picture" style="display:none;"></span>
<span id="facebook-publish-caption" style="display:none;"></span>
<span id="facebook-publish-description" style="display:none"></span>

<p>@Html.Content("There are various ways you can share your event with the world.")</p>

<style type="text/css" media="screen">
  #custom-tweet-button a {
    display: block;
    padding: 2px 5px 2px 20px;
    background: url('http://a4.twimg.com/images/favicon.ico') 1px center no-repeat;
    border: 1px solid #ccc;
  }
</style>


 
<div id="custom-tweet-button">
  <a href="http://twitter.com/share?url=@Model.ShareUrl&text=I%27m+organising+an+event+and+you+should+come!+Check+it+out+here%3a&counturl=@Model.ShareUrl&via=ticketmuffin" target="_blank">@Html.Content("Share on Twitter")</a>
</div>

<div id="share-on-facebook">

<a class="facebook-publish" href="#">@Html.Content("Share on Facebook")</a>

</div>

<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px; "></div></div>

<div id="share-via-email"><a href="#" id="share-via-email-link">@Html.Content("Share via Email")</a></div>
<div id="share-via-email-form" class="grayBox" style="display:none">
@Html.DisplayFor(m => m.ShareViaEmail);

</div>

<script type="text/javascript">
    try {
        window.fbAsyncInit = function () {
            FB.init({ appId: '158033964285138', status: true, cookie: true, xfbml: true });

            /*
            FB.Event.subscribe('edge.create', function (href, widget) {
            try { JustGiving.Analytics.push(['_trackEvent', 'FacebookLike', href, '/account/your-pages/jonrowett3/']); } catch (ex) { }
            });
            FB.Event.subscribe('edge.remove', function (href, widget) {
            try { JustGiving.Analytics.push(['_trackEvent', 'FacebookUnLike', href, '/account/your-pages/jonrowett3/']); } catch (ex) { }
            });*/

            $(document).trigger("facebookReady");
        };
        (function () {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        } ());
    }
    catch (err) { }
</script>