@model GroupGiving.Web.Models.OrderConfirmationViewModel
@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>
<script type="text/javascript" src="/scripts/order.js"></script>

<script type="text/javascript">
    dgFlow = top.dgFlow || top.opener.top.dgFlow;
    dgFlow.closeFlow();
    top.close();

    alert(getQuerystring('payKey'));
</script>

<h1>Thank you for your pledge!</h1>

<h2>Your order number is @Model.Pledge.Id.Substring(Model.Pledge.Id.IndexOf('/')+1)</h2>

<h2>Your Pledge Details</h2>

<h3>Ticket Price: @Model.Pledge.TicketPrice.ToString("c")</h3>

<h3>Attendees</h3>
<table>
    <tr>
        <td>attendee 1</td>
        <td>@Model.Pledge.TicketPrice.ToString("c")</td>
    </tr>
    <tr>
        <td>attendee 2</td>
        <td>@Model.Pledge.TicketPrice.ToString("c")</td>
    </tr>
    <tr>
        <td>attendee 2</td>
        <td>@Model.Pledge.TicketPrice.ToString("c")</td>
    </tr>
    <tr>
        <td>Total:</td>
        <td>@((Model.Pledge.TicketPrice * Model.Pledge.Quantity).ToString("c"))</td>
    </tr>
</table>