@using GroupGiving.Web.Code
@model GroupGiving.Web.Models.HomePageViewModel
@{
    ViewBag.Title = Html.Content("homepage", "heading");
}

@section scripts {
<script type="text/javascript" src="/scripts/jquery.expander.js"></script>
<script type="text/javascript" src="/scripts/home.js"></script>
}

<p>@Html.ActionLink("Create an event...", "create", "CreateEvent")</p>

<h2>@Html.Content("homepage", "heading")</h2>

<p>You don't need to recompile to update a view, just save the file and reload the page in the browser.</p>

hello world

@foreach(var e in Model.Events)
{
    <p>@Html.ActionLink(e.Title, "Index", "Event", new { shortUrl= e.ShortUrl }, null) @e.City <text>20 June, 2011</text></p>
    <p class="expandable">@Html.Raw(e.Description)</p>
}


