@model GroupGiving.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    
}

<h2>ResetPassword</h2>

@if (Model.TokenNotValid)
{
    <p>That token is not valid or has expired.</p>
} else
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "We couldn't reset your password. Make sure your new password is valid and both fields match.")
        <div>
            <fieldset>
                <legend>Reset Password</legend>

                <div class="editor-label">
                    Your email address is @Model.EmailAddress
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <div>
                    @Html.Hidden("EmailAddress", Model.EmailAddress)
                    <input type="submit" value="Reset Password" />
                </div>
        </div>
    }
}