@model GroupGiving.Web.Models.PledgeListViewModel

@{
    ViewBag.Title = "Pledges for " + Model.EventName;
}

<style>
    #pledgeList span
    {
        margin-right:10px;
    }
</style>

@Html.ActionLink("back to event management console", "management-console", new {shortUrl = Model.ShortUrl})

<h2>Pledges for @Model.EventName</h2>

<table width="100%">
    <thead>
        <tr>
            <th>Pledge Date</th>
            <th>Reference</th>
            <th>Name</th>
            <th>Attendees</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

@foreach (var pledge in Model.Pledges)
{
<tr>
    <td>@pledge.DatePledged</td>
    <td><strong>@pledge.OrderNumber</strong></td>
    <td>@string.Join(", ", pledge.Attendees.Select(a=>a.FullName).ToArray())</td>
    <td>@pledge.Total.ToString("c")</td>
    @if (pledge.Paid) {
        <text><td>Paid</td><td>@Html.ActionLink("Refund", "refund-pledge", new { shortUrl=Model.ShortUrl, orderNumber = pledge.OrderNumber }, null)</td></text>
    } else if (pledge.PaymentStatus == GroupGiving.Core.Domain.PaymentStatus.Refunded)
    {
        <text><td>Refunded</td></text>
        <td>@pledge.DateRefunded.Value.ToString("dd-MM-yyyy hh:mm")</td>
    }
    else if (pledge.PaymentStatus == GroupGiving.Core.Domain.PaymentStatus.Unpaid)
    {
        <td>Unpaid</td>
    }
</tr>
}
</table>
