@using GroupGiving.Core.Domain
@model GroupGiving.Web.Models.EventViewModel
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="/Scripts/jquery.countdown.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#countdown').countdown({  
                until: new Date(
                            @Model.SalesEndDateTime.Year,
                            @Model.SalesEndDateTime.Month-1,
                            @Model.SalesEndDateTime.Day,
                            @Model.SalesEndDateTime.Hour,
                            @Model.SalesEndDateTime.Minute,
                            @Model.SalesEndDateTime.Second),
                layout: '<div class="timeBox">'+
              '<div class="name">DAYS</div>'+
              '<div class="number">{dn}</div>'+
            '</div>'+
            '<div class="timeBox">'+
              '<div class="name">HOURS</div>'+
              '<div class="number">{hn}</div>'+
            '</div>'+
            '<div class="timeBox">'+
              '<div class="name">MINS</div>'+
              '<div class="number">{mn}</div>'+
            '</div>'+
            '<div class="timeBox">'+
              '<div class="name">SECS</div>'+
              '<div class="number">{sn}</div>'+
            '</div>'
            });
        });
        
        
    </script>
}

<div id="eventPage">
        <div id="eventHead">
            @if (Model.State != EventState.Cancelled)
             {
                 <div id="eventDate">
                     <div id="month">@Model.StartDate.ToString("MMMM")</div>
                     <div id="day">@Model.StartDate.Day</div>
                 </div>
             }
                
          <div id="eventName"><h1>@Model.Title</h1></div>

          @if (Model.State != EventState.Cancelled)
          {
              <div id="eventDetails">@Model.StartDate.ToString("dddd, MMMM dd yyyy @ HH:mm tt")<br />
                  @Model.Venue, @Model.AddressLine, @Model.City, @Model.Country
              </div>
          }
          <div id="howItWorks">@Html.ActionLink("How it works", "HowItWorks", "Home")</div>

            @if (Model.UserIsEventOwner)
            {
                <div id="manageEvent">
                @Html.ActionLink("Edit this event", "edit-event", new { shortUrl = Model.ShortUrl })<br />
                @Html.ActionLink("Go to the event management console", "management-console", new {shortUrl = Model.ShortUrl})
            </div>
            }

        </div>
        <div id="eventLeft">
            @if (Model.State != EventState.Cancelled)
            {
                Html.RenderPartial("PledgeWidget");
                <div id="shareBox">
                    <div>Share with your friends</div>
                </div>
                <h2>Event details</h2>

                <div class="eventBox">
                    @{ Html.RenderPartial("EventDateDetails"); }
                </div>
                <div class="eventBox">
                    @{ Html.RenderPartial("EventLocationDetails"); }
                </div>
                <div class="eventBox">
                    @{ Html.RenderPartial("EventOrganiserDetails"); }
                </div>
            }
        </div>                                    
        <div id="eventRight">
          <div id="eventDesc">
              @if (Model.State == EventState.Cancelled)
              {
                  <h3>This event has been cancelled</h3>
              }
              else
              {
                  <img src="@Model.ImageUrl" style="max-width:500px"/>
                  @Html.Raw(Model.DescriptionMarkedDown)
                  @Html.Raw(Model.AdditionalBenefitsMarkedDown)
              }
            <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="@Request.Url" num_posts="1" width="680"></fb:comments>            
          </div>
        </div>

        <div class="clearFix"></div>  
      </div>