@model GroupGiving.Web.Models.EventViewModel
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Html.ActionLink(Model.EventId.ToString(), "Index", new { id = Model.EventId })</h1>
<h2>@Model.Title</h2>

<div>@Model.StartDate.ToString("dd/MM/yyyy hh:mm"), @Model.City</div>
<div>@Html.ActionLink("Pledge/Order Tickets", "Index", "Order", new {EventId=1}, null)</div>
<div>@Model.MinimumParticipants participants required, @Model.MaximumParticipants maximum</div>
<div>Sales end @Model.SalesEndDateTime.ToString("dd/MM/yyyy hh:mm")<br />
<a>Invite Your Friends</a></div>
<div><img src="http://placehold.it/350x150"></div>
<h3>Event Details</h3>
<p>@Model.Description</p>
<h3>Additional Benefits</h3>
<p>@Model.AdditionalBenefits</p>
<p>Tickets: @Model.TicketPrice.ToString("c")</p>
<div>Event date, time</div>
<div>@Model.Venue, 
@Model.AddressLine,
@Model.City</div>
<div>Organiser Profile <a>Contact</a></div>