@using GroupGiving.Core.Domain
@using GroupGiving.Web.Code
@model GroupGiving.Web.Models.EventPledgeViewModel
@{
    ViewBag.Title = Html.Content(string.Format("Pledge to attend {0}", Model.Title));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="/Scripts/pledge.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.watermark.min.js" type="text/javascript"></script>
}
<span id="c" style="display:none;">@Model.TicketCurrency.AsCulture().NumberFormat.CurrencySymbol</span>
<div style="margin-top: 10px;display:none;" id="attendeeTemplate">
                <label style="display: inline-block; width: 110px;">@Html.Content("Ticket #")<span class="attendeeNumber">1</span></label>
                <input type="text" style="width: 300px;" name="attendeeName" title="@Html.Content("Full name")" />
            </div>
<div id="orderPage">
    <h1>@Html.Content("Purchase tickets for") @Model.Title</h1>
    @using (Html.BeginForm())
    {
        <div class="grayBox">
            @Html.ValidationSummary()
            <select name="quantity" class="short">
                @for (int i = 1; i <= Model.MaximumParticipants - Model.PledgeCount; i++)
                {
                <option @if (Model.AttendeeName != null && Model.AttendeeName.Count() == i)
                        { <text>selected="selected"</text> }>@i</option>
                }
            </select>
            <strong style="font-size: 18px;">x @Model.TicketPrice.ToString("c", Model.TicketCurrency.AsCulture()) = <span style="color: #b3b70d;" class="total"></span>&nbsp;*</strong>
        </div>
        <div style="color: #b3b70d;"><strong>*
            @if (Model.EventIsFull) {
                @Html.Content("This event is now full and is not accepting more pledges")
            } else if (Model.EventIsOn) {
                @Html.Content("The minimum number of pledges has been reached. This event is now on!")
            } else {
                @Html.Content("The money will be refunded if the minimum amount of participants is not reached before")
                <text>&nbsp;</text>
                @Model.SalesEndDateTime.ToString(Html.Content("dddd dd MMMM","","SalesEndDateTimeFormat").ToString(), Html.CultureDateTimeFormat())
            }
        </strong>
        </div>
        <h1 style="margin-top: 30px;">@Html.Content("Participants' names")</h1>
        <div class="grayBox" id="attendeeList">
            @{int attendeeNumber = 1;}
            @foreach (var attendee in Model.AttendeeName)
            {
                <div>
                    <label style="display: inline-block; width: 110px;">@Html.Content("Ticket #")<span class="attendeeNumber">@(attendeeNumber++)</span></label>
                    <input type="text" style="width: 300px;" name="attendeeName" class="jq_watermark" title="@Html.Content("Full Name")" value="@attendee" />
                </div>
            }
        </div>
        <div style="padding: 20px 0 20px 0;">
            <div>@Html.CheckBoxFor(m=>m.OptInForOffers)<span class="wholeline">@Html.LabelFor(m => m.OptInForOffers, Html.Content("I want to hear about special offers from TicketMuffin").ToString())</span></div>
            <div><input type="checkbox" name="acceptTerms" id="acceptTerms" value="true" /><label class="wholeline" for="acceptTerms">@Html.Content("I accept the <a href=\"\">Terms & Conditions</a>")</label></div>
        </div>
        <div>
        @Html.Hidden("ticketPrice", Model.TicketPrice)
        @Html.Hidden("shortUrl", Model.ShortUrl)
        @Html.Hidden("eventId", Model.Id)
        <input type="submit" class="bigButton" value="@Html.Content("Pay Now")" style="float: left;" /><img class="payPalCardsLogo" src="/content/img/paypal.jpg" />
        </div>
    }
</div