@using GroupGiving.Core.Domain
@using GroupGiving.Web.Code
@model GroupGiving.Web.Models.EventViewModel


@if (Model.State == EventState.Cancelled)
  {
      <div id="pledgeInfo">
            <div id="countInfo" class="cancelled">@Html.Content("The event has been cancelled and money refunded to the pledgers")</div>
            <div class="clearFix"></div>
        </div>
  }
  else if (Model.State == EventState.Completed)
  {
      <div id="pledgeInfo">
            <div id="countInfo" class="cancelled">@Html.Content("The event has been completed")</div>
            <div class="clearFix"></div>
        </div>
  }
  else if (Model.SalesEndDateTime < DateTime.Now)
  {
        <div id="pledgeInfo">
            <div id="count">@Html.Content("Sales closed")</div>    
            <div id="countBar">
                 @if (!Model.EventIsOn)
                {
                    <div id="barProgress" class="inProg" style="width: @Model.RequiredPledgesPercentage%;"></div>
                } else
                {
                    <div id="barProgress" style="width: @Model.TotalPledgesPercentage%;"></div>
                }
            </div>
            <div id="peopleInfo">
                @if (Model.PledgeCount == 0)
                {
                    @Html.Content("Noone has pledged to attend the event yet")
                }
                else if (Model.PledgeCount == 1)
                {
                        @Html.Content("1 person has already pledged to attend this event")
                }
                else
                {
                    @Model.PledgeCount @Html.Content("people have already pledged to attend the event")
                }
            </div>
            <div class="clearFix"></div>
            <div id="timeLeft">@Html.Content("Time left to pledge")</div>
        </div>
  }
  else if (Model.CanAcceptPledges)
  {
             <div id="pledge">
                 @using (Html.BeginForm("Pledge", "Event", FormMethod.Get))
                 {
                     <input type="submit" class="bigButton" style="width:280px" value="@Model.TicketPrice.ToString("c", Model.Currency.AsCulture()) @Html.Content("Pledge")" />
                 }
             </div>
             <div id="pledgeInfo">
                 @if (Model.EventIsFull)
                 {
                     <div id="count">@Html.Content("Sold out!")</div>    
                 }
                 else
                 {
                     if (Model.EventIsOn)
                     {
                           <div id="count">@(Model.MaximumParticipants - Model.PledgeCount)</div>

                           <div id="countInfo">@Html.Content("Spaces left!")</div>
                     }
                     else
                     {
                           <div id="count">@(Model.MinimumParticipants - Model.PledgeCount)</div>

                           <div id="countInfo">@Html.Content("Pledges needed to fund the event")</div>
                     }
                 }
                 <div id="countBar">
                      @if (!Model.EventIsOn)
                    {
                        <div id="barProgress" class="inProg" style="width: @Model.RequiredPledgesPercentage%;"></div>
                    } else
                    {
                        <div id="barProgress" style="width: @Model.TotalPledgesPercentage%;"></div>
                    }
                 </div>
                 <div id="peopleInfo">
                 @if (Model.PledgeCount == 0)
                {
                    @Html.Content("Noone has pledged to attend the event yet")
                } else if (Model.PledgeCount == 1)
                {
                        @Html.Content("1 person has already pledged to attend this event")
                }
                else
                {
                    @Model.PledgeCount @Html.Content("people have already pledged to attend the event")
                }
                 </div>
                 <div id="countdown"></div>
                 <div class="clearFix"></div>
                 <div id="timeLeft">@Html.Content("Time left to pledge")</div>
             </div>
  }
  else
  {
             <div id="pledgeInfo">
                 @if (Model.EventIsFull)
                 {
                     <div id="count">@Html.Content("Sold out!")</div>    
                 }
                 else
                 {
                     if (Model.EventIsOn)
                     {
                           <div id="count">@(Model.MaximumParticipants - Model.PledgeCount)</div>

                           <div id="countInfo">@Html.Content("Spaces left!")</div>
                 <div id="countBar">
                     <div id="barProgress" style="width: @Model.TotalPledgesPercentage%;"></div>
                 </div>
                     }
                     else
                     {
                           <div id="count">@(Model.MinimumParticipants - Model.PledgeCount)</div>

                           <div id="countInfo">@Html.Content("Pledges needed to fund the event")</div>
                         <div id="countBar">
                             <div id="barProgress" style="width: @Model.RequiredPledgesPercentage%;"></div>
                         </div>
                     }
                 }
                 <div id="peopleInfo">
                 @if (Model.PledgeCount == 0)
                {
                    @Html.Content("Noone has pledged to attend the event yet")
                } else if (Model.PledgeCount == 1)
                {
                        @Html.Content("1 person has already pledged to attend this event")
                }
                else
                {
                    @Model.PledgeCount @Html.Content("people have already pledged to attend the event")
                }
                 </div>
                 <div id="countdown"></div>
                 <div class="clearFix"></div>
                 <div id="timeLeft">@Html.Content("Time left to pledge")</div>
             </div>
         }

