@model GroupGiving.Core.PayPal.PayResponse

@{
    ViewBag.Title = "Test pay";
}

<h2>Test pay</h2>

<p>Status: @Model.paymentExecStatus<br/>
    Error: @Model.Error<br/>
    ACK: @Model.responseEnvelope.ack</p>
    
<p>Response:<br/><pre>@Model.Raw.Response</pre></p>
<p>Request:<br /><pre>@Model.Raw.Request</pre></p>
<p>Request Headers:<br/>
    <dl>
        @foreach(var header in Model.Raw.RequestHeaders)
        {
            <dt>@header.Key: @header.Value</dt>
        }
        
    </dl>
</p>
