@model GroupGiving.Web.Models.ShareViaEmailViewModel

<h3>Send an email to your contacts</h3>
<p>Enter the email addresses of the contacts you want to share this event with in the input box below.</p>
@Html.ValidationSummary()
<!-- Any link with a class="cs_import" attribute will launch the widget -->
<a class="cs_import">Add contacts from my email account using CloudSponge</a><br />  

<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
<script type="text/javascript">
    var csPageOptions = {
        domain_key: 'PJZMZ87UDMYLE5YLKW28',
        textarea_id: 'Recipients'
    };
</script>
@using (Html.BeginForm("Index", "ShareEvent", new { shortUrl = Model.ShortUrl }, FormMethod.Post, new {id="share-via-email-form"}))
{
    <div style="padding-bottom:10px" id="validation-messages" class="validation-summary-errors">
        @Html.ValidationMessage("Recipients")
    </div>
    <div style="padding-bottom: 10px;"><textarea id="Recipients" name="Recipients" id="Recipients" style="width:400px" rows="3" cols="50">@Model.Recipients</textarea></div>
    <div style="padding-bottom: 10px;"><label for="Subject" style="display:block">Subject:</label><input type="text" name="Subject" id="Subject" style="width:400px" value="@Model.Subject" /></div>
    <div style="padding-bottom: 10px;"><label for="Body">You can edit the message below:</label>
    <textarea name="Body" id="Body" style="display:block;width:400px" rows="6" cols="50">@Model.Body</textarea></div>
    <input type="hidden" name="ShortUrl" id="ShortUrl" value="@Model.ShortUrl"/>
    <div style="padding-bottom: 10px;"><input type="submit" value="Send Email"/></div>
    
}